<%= form_tag user_posts_path(feed_id: params[:id]), method: :post, remote: true do %>
  <div class="form-group">
    <div class="field">
      <%= label_tag :title, 'Title', class: 'control-label' %><br />
      <%= text_field_tag :title,'', class: 'form-control', required: true, autofocus: true %>
    </div>
  </div>
  <div class="form-group">
    <div class="field">
      <%= label_tag :content, 'Content', class: 'control-label' %><br />
      <%= text_area_tag :content,'', class: 'form-control', required: true, autofocus: true %>
    </div>
  </div>
  <div class="form-group">
    <div class="field">
      <div style="display: flex; justify-content: space-between; align-items: center;">
        <%= button_tag class: 'btn btn-primary qol-btnsmall' do %>
          <i class="fa fa-lock" aria-hidden="true"></i> Post
        <% end %>
      </div>
    </div>
  </div>
<% end %>
