<p id="notice"><%= notice %></p>

<h1>Pens</h1>
<div class="row">
  <div class="col-md-6">

    <table class="table table-striped table-bordered table-sm">
      <thead class="table-light">
        <tr>
          <th>Name</th>
          <th>Lease</th>
          <th>Latitude</th>
          <th>Longitude</th>
        </tr>
      </thead>

      <tbody>
        <% @pens.each do |pen| %>
          <tr>
            <td><%= link_to pen.name, pen %></td>
            <td><%= link_to pen.lease.location, pen.lease %></td>
            <td><%= pen.latitude %></td>
            <td><%= pen.longitude %></td>
            <td><%= link_to 'Edit', edit_pen_path(pen) %></td>

            <td>
              <%= link_to pen, method: :delete,  data: { confirm: 'Are you sure?' } do |x| %>
              <%= fa_icon "trash"%>
              <% end %>
            </td>

          </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</div>

<br>

<%= link_to new_pen_path, class: "btn btn-primary" do |x| %>
  Create Pen <%= fa_icon "plus"%>
<% end %>



<script>
  // Initialize and add the map
  function initMap() {
  // The location of Uluru
  var uluru = {lat: -25.344, lng: 131.036};
  var uluru_2 = {lat: -22.344, lng: 119.036};
  // The map, centered at Uluru
  var map = new google.maps.Map(
  document.getElementById('map'), {zoom: 4, center: uluru});
  // The marker, positioned at Uluru
  var markers = new google.maps.Marker({position: uluru_2, map: map});
  var marker = new google.maps.Marker({position: uluru, map: map});
  }
</script>
