<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-12">

    <div class='row'>
      <div class='col-md-12 space-between'>
        <div class='space-between h-center'>
          <%= link_to pens_path, class: "text-primary" do %>
            <%= fa_icon "arrow-left 2x"%>
          <% end %>
          <h1 class="mb-0 ml-3"><%= @pen.name %></h1>
          </div>
        <div>
          <%= link_to edit_pen_path(@pen), class: "btn btn-primary" do |x| %>
        <%= fa_icon "edit"%><span class="ml-2"> Edit Pen</span>
          <% end %>
        </div>

      </div>
    </div>
    <hr>

    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="detail-tab" data-toggle="tab" href="#details" role="tab" aria-controls="details" aria-selected="true">Details</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="false">Charts</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Reports</a>
      </li>

    </ul>
    <div class="tab-content" id="myTabContent">

      <div class="tab-pane fade show active" id="details" role="tabpanel" aria-labelledby="details-tab">
        <div class="row">


          <!-- <ul> -->
             <%# <% @mortadlity_totals.each do |k,v| %>
               <%# <%= "#{k.id2name.split("_").join(" ").capitalize} -  #{v}" %>
            <%# <% end %>
          <!-- </ul> -->

          <div class="col-md-6 mt-4">
            <p>
              <strong>Lease:</strong>
              <%= @pen.lease.name %>
            </p>
            <p>
              <strong>Latitude:</strong>
              <%= @pen.latitude %>
            </p>
            <p>
              <strong>Longitude:</strong>
              <%= @pen.longitude %>
            </p>

            <h4> Total Mortalities:</h4>

            <table class="table table-striped table-bordered table-sm">
              <thead class="table-light">
                <tr class="text-center">
                  <th>Bird strikes</th>
                  <th>Seal strikes</th>
                  <th>Skinny</th>
                  <th>Deformities</th>
                  <th>Unknown</th>
                </tr>
              </thead>

              <tbody>
                <tr class="text-center">
                  <td><%= @mortality_totals[:bird_strikes] %></td>
                  <td><%= @mortality_totals[:seal_strikes] %></td>
                  <td><%= @mortality_totals[:skinny] %></td>
                  <td><%= @mortality_totals[:deformities] %></td>
                  <td><%= @mortality_totals[:unknown] %></td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="col-md-6 mt-4">
            <div id="map" style='width: 100%; height: 400px;'></div>
          </div>

        </div>
      </div>

      <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
        <div class="row">
          <div class="col-md-12 mb-5">
            <%= line_chart @causes %>
          </div>
          <div class="col-md-6 mb-5 mt-5">
            <%= pie_chart  @mortality_totals %>
          </div>
          <div class="col-md-6 mb-5 mt-5">
            <%= column_chart @causes %>
          </div>
          <div class="col-md-12 mb-5 mt-5">
            <%= area_chart @causes %>
            <!-- <div class="col-md-12 mt-5 mb-5"> -->
              <%# <%= bar_chart @causes %>
            <!-- </div> -->
          </div>
        </div>
      </div>

      <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <div class="row">
          <div class="col-md-12 mt-4">
            <h2>Mortaility Reports</h2>
            <hr>
          </div>


          <div class="row">
            <div class="col-6">
              <%= form_tag pen_path, class: "form", method: :get, remote: true do |form|%>

              <div class="form-group">
                <%= label_tag :date, 'Start Date', class: 'control-label' %><br />
                <%= date_field_tag(:search_begin, (Time.now - 1.week).strftime('%Y-%m-%d'), class: 'form-control') %>
              </div>
            </div>

            <div class="col-6">
              <div class="form-group">
                <%= label_tag :date, 'End Date', class: 'control-label' %><br />
                <%= date_field_tag(:search_end, Time.now.strftime('%Y-%m-%d'), class: 'form-control') %>
              </div>
            </div>

            <% end %>
            <div class="col-12">
              <%= submit_tag "Search", class: "btn btn-success" %>
            </div>
          </div>



          <div id="mortality_forms">
        <%= render 'shared/mortality_reports', reports: @reports%>
        </div>

          <div class="col-md-6">
            <div id="map" style='width: 100%; height: 400px;'>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>

<%= link_to 'Edit', edit_pen_path(@pen) %> |
<%= link_to 'Back', pens_path %>



<script>


  var lat = <%= @pen.latitude %>

  var lng = <%= @pen.longitude %>

  // Initialize and add the map
  function initMap() {

  var uluru = {lat: lat, lng: lng};
  // The map, centered at Uluru
  var map = new google.maps.Map(
  document.getElementById('map'), {zoom: 4, center: uluru});
  // The marker, positioned at Uluru
  var marker = new google.maps.Marker({position: uluru, map: map});
  }
</script>
