<p id="notice"><%= notice %></p>

<h2>
  <strong>Pen:</strong>
  <%= @pen.name %>
</h2>

<h4>
  <strong>Lease:</strong>
  <%= @pen.lease_id %>
</h4>

<div class="row">
  <div class="col-md-12 mt-4">
  <p>
    <strong>Latitude:</strong>
    <%= @lease.latitude %>
  </p>
  <p>
    <strong>Longitude:</strong>
    <%= @lease.longitude %>
  </p>
  </div>
</div>

<div class="col-md-6">
  <table class="table table-striped table-bordered table-sm">
    <thead class="table-light">
      <tr class="text-center">
        <th>Bird strikes</th>
        <th>Seal strikes</th>
        <th>Skinny</th>
        <th>Deformities</th>
        <th>Unknown</th>
      </tr>
    </thead>

    <tbody>
        <tr class="text-center">
          <td><%= @mortality_totals[:bird_strikes] %></td>
          <td><%= @mortality_totals[:seal_strikes] %></td>
          <td><%= @mortality_totals[:skinny] %></td>
          <td><%= @mortality_totals[:deformities] %></td>
          <td><%= @mortality_totals[:unknown] %></td>
        </tr>
    </tbody>
  </table>
</div>

<div class="col-md-12 mb-5">
  <h5>Daily Report</h5>
  <%= line_chart @causes %>
</div>

<ul>
   <% @mortality_totals.each do |k,v| %>
    <li> <%= "#{k.id2name.split("_").join(" ").capitalize} -  #{v}" %></li>
  <% end %>
</ul>

<div class="row">
  <div class="col-md-12 mb-5">
    <%= line_chart @causes %>
  </div>
  <div class="col-md-6 mb-5 mt-5">
    <%= pie_chart  @mortality_totals %>
  </div>
  <div class="col-md-6 mb-5 mt-5">
    <%= column_chart @causes %>
  </div>
  <div class="col-md-12 mb-5 mt-5">
    <%= area_chart @causes %>
    <div class="col-md-6 mt-5 mb-5">
      <%= bar_chart @causes %>
    </div>
  </div>
</div>
  <%# <%= scatter_chart @causes %>



<h1>Mortalty Reports</h1>
  <% @reports.each do |key, rep| %>
<div class="col-md-12">
<h4>Report filed on - <%= key.strftime("%Y-%m-%d") %></h4>
<table class="table table-striped table-bordered table-sm">
  <thead class="table-light">
    <tr>
      <th></th>
      <th class="rotate"><div><span>Lease</span></div></th>
      <th class="rotate"><div><span>Pen</span></div></th>
      <th class="rotate"><div><span>Diver</span></div></th>
      <!-- <th class="rotate"><div><span>Date</span></div></th> -->
      <th class="rotate"><div><span>Bird strikes</span></div></th>
      <th class="rotate"><div><span>Seal strikes</span></div></th>
      <th class="rotate"><div><span>Skinny</span></div></th>
      <th class="rotate"><div><span>Deformities</span></div></th>
      <th class="rotate"><div><span>Unknown</span></div></th>
      <!-- <th class="rotate"><div><span>Mort comments</span></div></th> -->
      <th class="rotate"><div><span>Shallow rot</span></div></th>
      <th class="rotate"><div><span>Deep rot</span></div></th>
      <th class="rotate"><div><span>Missing weights</span></div></th>
      <th class="rotate"><div><span>Skin burn</span></div></th>
      <th class="rotate"><div><span>Fish rub</span></div></th>
      <th class="rotate"><div><span>Probe cleaned</span></div></th>
      <!-- <th class="rotate"><div><span>Observations</span></div></th> -->
      <th colspan="2"></th>
    </tr>
  </thead>

  <% rep.each do |mortality_form| %>
  <tbody>
      <tr class="text-center">
        <td></td>
        <td><%= mortality_form.lease_id %></td>
        <td><%= mortality_form.pen_id %></td>
        <td><%= mortality_form.pen_id %></td>
        <%# <%= mortality_form.date %>
        <td><%= mortality_form.bird_strikes %></td>
        <td><%= mortality_form.seal_strikes %></td>
        <td><%= mortality_form.skinny %></td>
        <td><%= mortality_form.deformities %></td>
        <td><%= mortality_form.unknown %></td>
        <%# <%= mortality_form.mort_comments %>
        <td><%= mortality_form.shallow_rot %></td>
        <td><%= mortality_form.deep_rot %></td>
        <td><%= mortality_form.missing_weights %></td>
        <td><%= mortality_form.skin_burn %></td>
        <td><%= mortality_form.fish_rub %></td>
        <td><%= mortality_form.probe_cleaned %></td>
        <%# <%= mortality_form.observations %>
        <td><%= link_to 'Show', mortality_form %></td>
        <%# <%= link_to 'Edit', edit_mortality_form_path(mortality_form) %>
        <td><%= link_to 'Destroy', mortality_form, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    </tbody>
    <% end %>
  </table>
</div>
<% end %>




<%= link_to 'Edit', edit_pen_path(@pen) %> |
<%= link_to 'Back', pens_path %>
