<%= form_with(model: diver, local: true) do |form| %>
  <% if diver.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(diver.errors.count, "error") %> prohibited this diver from being saved:</h2>

      <ul>
        <% diver.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :contact %>
    <%= form.text_field :contact %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>

  <div class="field">
    <%= form.label :secondary_contact %>
    <%= form.text_field :secondary_contact %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
