<%= form_with(model: diver, local: true) do |form| %>
  <% if diver.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(diver.errors.count, "error") %> prohibited this diver from being saved:</h2>

      <ul>
        <% diver.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <div class="field">
    <%= form.label :first_name, class: 'control-label' %>
    <%= form.text_field :first_name, class: 'form-control' %>
  </div>
</div>

  <div class="form-group">
    <div class="field">
    <%= form.label :last_name, class: 'control-label' %>
    <%= form.text_field :last_name, class: 'form-control' %>
  </div>
</div>

  <div class="form-group">
    <div class="field">
    <%= form.label :email, class: 'control-label' %>
    <%= form.text_field :email, class: 'form-control' %>
  </div>
</div>

  <div class="form-group">
    <div class="field">
    <%= form.label :contact, class: 'control-label' %>
    <%= form.text_field :contact, class: 'form-control' %>
  </div>
</div>

  <div class="form-group">
    <div class="field">
    <%= form.label :address, class: 'control-label' %>
    <%= form.text_field :address, class: 'form-control' %>
  </div>
</div>

  <div class="form-group">
    <div class="field">
    <%= form.label :secondary_contact, class: 'control-label' %>
    <%= form.text_field :secondary_contact, class: 'form-control' %>
  </div>
</div>

  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>
