<p id="notice"><%= notice %></p>

<h1>Divers</h1>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Contact</th>
      <th>Address</th>
      <th>Secondary contact</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @divers.each do |diver| %>
      <tr>
        <td><%= diver.first_name %></td>
        <td><%= diver.last_name %></td>
        <td><%= diver.email %></td>
        <td><%= diver.contact %></td>
        <td><%= diver.address %></td>
        <td><%= diver.secondary_contact %></td>
        <td><%= link_to 'Show', diver %></td>
        <td><%= link_to 'Edit', edit_diver_path(diver) %></td>
        <td><%= link_to 'Destroy', diver, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Diver', new_diver_path %>
