<% @user ||= current_user %>
<div class="stats">
  <a href="<%= following_user_path(@user) %>">
    <strong id="following" class="stat">
      <%= @user.following.count %>
    </strong>
    following
  </a>
  <a href="<%= followers_user_path(@user) %>">
    <strong id="followers" class="stat">
      <%= @user.followers.count %>
    </strong>
    followers
  </a>
</div>

<% unless current_user == other_user %>
  <div id="follow_form" class="mt-3 mb-3">
    <% if current_user.following?(other_user) %>
      <%= render 'shared/unfollow' %>
    <% else %>
      <%= render 'shared/follow', other_user: other_user %>
    <% end %>
  </div>
<% end %>
