<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">ELS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to user_profile_path(id: current_user.profile.id), class: "nav-link" do %>
          Profile
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to user_feed_path(id: current_user.feed.id), class: "nav-link", remote: true do %>
          My Feed
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to user_profile_index_path(id: current_user.id), class: "nav-link" do %>
          All Users
        <% end %>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Actions
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Settings</a>
          <div class="dropdown-divider"></div>
            <%= link_to user_sessions_path, class: "dropdown-item", method: :delete do %>
              Log Out
            <% end %>
        </div>
      </li>
    </ul>
    <%= form_tag user_profile_index_path, class: "form-inline my-2 pt-3 my-lg-0", method: :get do %>
    <p>
      <%= text_field_tag :query, params[:query], placeholder: "Search Users" %>
      <%= submit_tag "Search", class: "btn btn-outline-success ml-3 my-2 my-sm-0" %>
    </p>
    <% end %>

  </div>
</nav>
