<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light"> -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Mort</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%# <%= link_to user_profile_path(id: current_user.profile.id), class: "nav-link" do %>
        <%= link_to leases_path, class: "nav-link" do %>
          Leases
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to pens_path, class: "nav-link" do %>
          Pens
        <% end %>
        </li>
        <li class="nav-item">
          <%= link_to mortality_forms_path, class: "nav-link" do %>
            Morts
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to divers_path, class: "nav-link" do %>
          Divers
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to new_mortality_form_path, class: "nav-link" do %>
            Diver Report Form
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to mortality_report_report_path, class: "nav-link" do %>
            Reports
          <% end %>
        </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Actions
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <div class="dropdown-divider"></div>
            <%= link_to user_sessions_path, class: "dropdown-item", method: :delete do %>
              Log Out
            <% end %>
        </div>
      </li>
    </ul>
  </div>
</nav>
