<%= form_with(model: lease, local: true) do |form| %>
  <% if lease.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lease.errors.count, "error") %> prohibited this lease from being saved:</h2>

      <ul>
        <% lease.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <div class="field">
      <%= form.label :location %>
      <%= form.text_field :location, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="field">
      <%= form.label :coordinates %>
      <%= form.text_field :coordinates, class: 'form-control'  %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
