  <div class="col-md-12 mt-4">
    <h2>Mortaility Reports</h2>
    <hr>


  <div class="row">
    <div class="col-6">
      <%= form_tag mortality_report_report_path, class: "form", method: :get, remote: true do |form|%>

      <div class="form-group">
        <%= label_tag :date, 'Start Date', class: 'control-label' %><br />
        <%= date_field_tag(:search_begin, (Time.now - 1.week).strftime('%Y-%m-%d'), class: 'form-control') %>
      </div>
    </div>

    <div class="col-6">
      <div class="form-group">
        <%= label_tag :date, 'End Date', class: 'control-label' %><br />
              <%= date_field_tag(:search_end, Time.now.strftime('%Y-%m-%d'), class: 'form-control') %>
          <%# <%= form.date_select :report_date, :placeholder => Date.current, class: 'datepicker' %>
      </div>
    </div>

    <div class="col-6">
      <div class="form-group">
        <%= label_tag :lease_Id, 'Lease', class: 'control-label' %><br />
        <%= select_tag :lease_id, options_from_collection_for_select(@leases, "id", "location"), :include_blank => "All leases", class: 'form-control select'  %>
      </div>
    </div>
    <div class="col-6">
      <div class="form-group">
        <%= label_tag :pen_id, 'Pen', class: 'control-label' %><br />
            <%= select_tag :pen_id, options_from_collection_for_select(@pens, "id", "name"), :include_blank => "All pens", class: 'form-control select'  %>
      </div>
    </div>

  </div>


  <%= submit_tag "Search", class: "btn btn-success" %>
    <% end %>

<div id="mortality_report">
  <%= render 'shared/mortality_reports', reports: @reports%>
</div>
