<!DOCTYPE html>
<html>
  <head>
    <title>ELsocial</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>

    <%# <script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
    <script src='//cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js' type='text/javascript'></script>
    <script src='//cdn.jsdelivr.net/gmaps4rails/2.1.2/gmaps4rails.js'> </script>
    <script src='//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js'> </script> %>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBm2UAn11Otjpr20UXpHsA0_IXpwPB9LLY&callback=initMap">
    </script>
  </head>

  <body>


    <% if logged_in? %>
      <%= render "shared/navigation" %>
    <% end %>
    <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
      <div class="container">
        <div id="page-content">
          <%= yield %>
        </div>
      </div>
  </body>
</html>
